.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fa; /* 배경색 변경 */
}

.login-box {
  width: 500px;
  padding: 3rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 추가 */
  border: 1px solid #ddd; /* 테두리 색상 및 스타일 조정 */
  margin: 15px;

}

@media (max-width: 500px) {
  .login-box {
    width: 90%;
    padding: 2rem;
    margin: 20px;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  margin-bottom: 0.5rem; /* 입력 필드 간격 조정 */
  border-radius: 4px; /* 입력 필드 모서리 둥글게 */
  color: #333; /* 입력 필드 내 텍스트 색상 */
}

.btn-primary {
  width: 100%; /* 버튼 너비 조정 */
  border-radius: 4px; /* 버튼 모서리 둥글게 */
}

.login-footer {
  margin-top: 1rem; /* 로그인 페이지 하단 여백 추가 */
  text-align: center;
}

/* 추가된 스타일 */
.login-title, .login-subtitle, .form-group label, .login-footer a {
  color: #333; /* 텍스트 색상 조정 */
}

.form-check {
  margin-left: 0.5rem; /* 체크박스 라벨 간격 조정 */
  display: flex;  /* 플렉스 박스 레이아웃 적용 */
  align-items: center;  /* 아이템들을 수직 방향으로 가운데 정렬 */
}

.form-check-label {
  margin-left: 0.5rem; /* 체크박스 라벨 간격 조정 */
  color: #333;
}
